@font-face {
    font-family: 'metro';
    src: url('http://hartofchicago.com/wp-content/fonts/fonts/segoeui.eot');
    src: local('☺'), url('http://hartofchicago.com/wp-content/fonts/fonts/segoeui.woff') format('woff'), url('http://hartofchicago.com/wp-content/fonts/fonts/segoeui.ttf') format('truetype'), url('http://hartofchicago.com/wp-content/fonts/fonts/segoeui.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#icon {
    color:#fff;
    position:relative;
    left:125px;
    top:30px;
    font-size:4em;
}

body{
    background-image:url('http://hartofchicago.com/wp-content/uploads/2014/01/main-bg.png');
    width:100%;
    font-family:metro;
    background-attachment:fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bolder;
    color:#fff;
}

#description {
    float:left;
}

.post:nth-child(3n) {
clear:right;
}

.post:first-child {
clear:left; 
margin-left:0px;
}
.photoset iframe .photoset_row img:nth-child(2n) {
    display:none;
}
.photo {
    width: 62% !important;
}

.video {
    width: 62% !important;
}

.text {
    width: 31% !important;
}

.post {
    float: left !important;
    box-sizing: border-box !important;
    margin: .35% !important;
    padding: 6px !important;
    height: 225px !important;
    overflow: scroll !important;
}
.post img {
    width: 24%; !important;
    float:left;
    margin:2px;
}
#footer {
    display: none !important;
}

.photo .caption {
    width:68.338%;
    float:left;
    margin:2px;
    font-size:1.5em !important;
    text-align:center;
}

.clear {
    clear:both;
    height:130px;
    width:100%;
}

.post a {
    text-decoration:none;
    color:#fff;
    z-index:99;
    margin:0px;
    padding:0px;
}

.post p {
    position:relative;
}

.titleContainer {
    position:fixed;
    margin:0px 45px;
}

posts {
    width:99%;
    margin:0px auto !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}